<% @restaurants.each do |restaurant|%>
<div class="card-product">
<img src="https://source.unsplash.com/random" />
<div class='card-product-infos'><%= restaurant.name %></div>
<% end %>
</div>



<!--


<div class="card-product">
  <img src="https://unsplash.com/photos/N_Y88TWmGwA" />
  <div class="card-product-infos">
    <h2>Product   name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->
